  <!--****************** Sidebar ******************-->
  <div class="main-sidebar-wrapper" id='main-sidebar'>
    <nav class="main-sidebar" id='navbarSupportedContent'>
      <ul class="list-unstyled components">
        
        <li class="nav-item">
          <a class="nav-link" href="/author/">Home</a>
        </li>
  
        <!--Expert Panel
          The expert panel will be made availible to users with "expert" permissions. 
          Experts can create Topic-Areas within their attributed domains. For now, they can create 
          Domains as well. 
        -->
        <% if (isAdmin){%>
          <li class="nav-item active">
            <a href="#expertSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Expert</a>
              <ul class="collapse list-unstyled nav-item" id="expertSubmenu">
                <li class="nav-link">
                  <a href="/admin/add-domain/">+ Domain</a>
                </li>
                <li class="nav-link">
                  <a href="/admin/add-area/">+ Topic Area</a>
                </li>
              </ul>
          </li>
  
        <%}%>

        <!-- Admin Menu
        The Admin Menu is made available to users wih "admin" permissions. -->
        <% if (isAdmin){%>
          <li class="nav-item active">
            <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">Admin</a>
              <ul class="collapse list-unstyled" id="adminSubmenu">
                <li class="nav-link">
                  <a href="/admin/users/">Manage Users</a>
                </li>
              </ul>
          </li>
        <%}%>


            <li class="nav-item">
              <a class="nav-link" href="/author/add-topic/">Add Topic</a>
            </li>
        
        <!--Sign in/Sign out-->
        <% if (!isAuthenticated) { %>
              
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Sign Up</a>
          </li>
          <% } else { %>
              
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Sign Out</a>
          </li>
          <% } %>
  
      </ul> <!--Sidebar list-->
  
    </nav>
  </div>


  <!-- Top Nav Bar-->
  <div class="main-header" id="main-header">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <button type="button" id="sidebarCollapse" class="navbar-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
  
      
      <a class="navbar-brand" href="">ISPeL</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--------------
      <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
              <a class="nav-link" href="/author/">Homepage</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/author/">Topics</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/author/add-topic">Add Topic</a>
          </li>
          <% if (isAdmin){%>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Expert
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/add-domain">Add Domain</a>
                    <a class="dropdown-item" href="/admin/add-area">Add Area</a>
                    <a class="dropdown-item" href="/admin/users">Manage Users</a>
                  </div>
                </li>
  
                <%}%>
  
          <% if (!isAuthenticated) { %>
              
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Sign Up</a>
          </li>
          <% } else { %>
              
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Sign Out</a>
          </li>
          <% } %>
        </ul>
       
      </div>
    </nav>
    --------------->

  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function () {
   
        $('#sidebarCollapse').on('click', function () {
            $('#main-sidebar, .content, #main-header').toggleClass('active');
            $('.collapse.in').toggleClass('in');

            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            $(this).toggleClass('active;')
        });
    });
  </script>
  

