<%- include('../includes/head.ejs') %>
    </head>

    <body style="height:100%">
        <div class="wrapper"  style="height:100%">
            <%- include('../includes/navigation.ejs') %>
                <div  id = "content" style="height:100%">
                    <div  style="height:100%" >
                        <div  style="height:100%">
                            <iframe  src="<%=topic.contentHtml%>" id="frame"   frameborder="0"  style="height:1024px; width:100%;" ></iframe>
                        </div>
                    </div>
                </div>

                <%- include('../includes/end.ejs') %>